/* Normalizacion */
body {
  background-color: rgb(240, 240, 240);
  margin: 0;  
  font-family: Proxima Nova,-apple-system,Roboto,Arial,sans-serif;
  flex-direction: column;
  background-image: linear-gradient(
    150deg,
    #00b7e4,
    #505488,
    #2f3f80,
    #161569,
    #5a4894,
    #a950a1,
    #ff7cae
  );
  background-size: 500%;
  width: 98vw;
  height: 100vh;
  display: flex;  
  animation: fanimado 10s infinite;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

img {
  width: 100%;
}

/* Definiciones Generales de Proyecto */
header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  margin: 1em;
  background-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 1em;
}

.main-nav li {
  width: 10%;
}
.nav-li-img {
  width: 70%;
}

#logo {
  margin-top: 10px;
  width: 80px;
}

.main-nav ul {  
  text-decoration: none;
  display: flex;  
  align-items: center;
  justify-content: space-around;
  gap: 2em;
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
}
.main-nav ul li a {
  color: white;
}

.main-nav a:hover {
  background-image: linear-gradient(120deg, #9500ff, rgb(0, 183, 255), #24e279);
}

/* Estilos para el footer */
footer {
    background-color: #000; /* Color de fondo del footer */
    color: #fff; /* Color del texto del footer */
    text-align: center;
    padding: 1px 0; /* Espaciado interno del footer */
    position:relative;
    bottom:0; /* Fijar en la parte inferior */
    width: 100%; /* Abarcar todo el ancho */
    z-index: 0; /* Asegurar que esté por encima de otros elementos si es necesario */
  }
  

/* RESPONSIVENESS */

@media screen and (max-width: 480px) {
  footer {
    bottom:unset;
  }

  #container {
    width: 100%;
  }
}

@keyframes fanimado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}