body
{
    background-color: rgb(240, 240, 240);    
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(
          150deg,
          #00b7e4,
          #505488,
          #2f3f80,
          #161569,
          #5a4894,
          #a950a1,
          #ff7cae
        );
        background-size: 500%;
      
        margin: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation: fanimado 10s infinite;
      }


#container
{        
    height: 100vh;
    width: 90%;
    max-width: 1024px;
    position: relative;    
    background-color: gray;
    border-style: solid;
    border-width: 1px;
}

header
{
    background-color: rgb(184, 184, 184);
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo
{
    margin-top: 10px;
    width: 98%;
    height: 80%;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#main-nav
{    
    width: 90%;
    height: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#main-nav a
{
    height: 100%;
    width: 20%;
    text-decoration: none;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

#main-nav a:hover
{
    background-image: linear-gradient(120deg,
    #9500ff,
    rgb(0, 183, 255),
    #24e279
    );
}

#inicio 
{
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    letter-spacing: 3px;
}

#acerca-de
{
    border-top-right-radius: 9px;
    border-bottom-right-radius: 10px;
    letter-spacing: .3px;
    
}
#contacto{
    letter-spacing: 2px;

}

#content
{
    background-image: linear-gradient(to right, #053964, rgb(150, 26, 138));
    height: 80vh;
    background-color: rgb(68, 82, 107);    
}

footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgb(180, 180, 180);
    background-color: rgb(0, 0, 0);    
    text-align: center;
}

/* RESPONSIVENESS */

@media screen and (max-width: 480px)
{
    footer
    {
        bottom: unset;        
    }

    #container
    {
        width: 100%;
    }
}
@keyframes fanimado {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }