@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway/static/Raleway-Regular.ttf');
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#message
{
    resize: none;
}

#formSection
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 50%;
    margin-top: 80px;
    margin-bottom: 50px;
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;
}

#errorMessage
{
    visibility: hidden;
    background-color: rgb(226, 78, 78);
    width: 70%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

@media (max-width: 1024px)
{ 
    .container
    {
        width: 100%;
        border-radius: unset;
        -webkit-border-radius: unset;
        -moz-border-radius: unset;
        -ms-border-radius: unset;
        -o-border-radius: unset;
    }

    .main-nav
    {
        border-radius: unset;
        -webkit-border-radius: unset;
        -moz-border-radius: unset;
        -ms-border-radius: unset;
        -o-border-radius: unset;
    }

    #formTitle
    {
        font-size: 24px;
    }

    #formComment
    {
        font-size: 20px;
    }

    #message
    {
        width: 80%;
    }

    #formSection
    {
        overflow-x: hidden;
        align-items: unset;
        margin-top: unset;
        margin-bottom: unset;
        padding-left: 20px;        
        width: 100%;
        border-radius: unset;
        -webkit-border-radius: unset;
        -moz-border-radius: unset;
        -ms-border-radius: unset;
        -o-border-radius: unset;
    }

    #errorMessage
    {
        visibility: hidden;
        background-color: rgb(226, 78, 78);
        width: 95%;
        font-size: 14px;        
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}


#dialog
{    
    flex-direction: column;
    align-items: center;
    border: 0px;
    border-radius: 40px;
    background-color: rgb(126, 76, 172);
    width: 60vw;
    height: 30vh;
    position: fixed;
    top: 20%;
    z-index: 999;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;    
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop
{
    from {top: -300px}
    to {top: 20%}
}

#dialogDiv
{
    font-family: "Raleway";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
    border-radius: 200px;
    text-align: center;
    border: 0px;
    width: 90%;
    height: 90%;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}

#btnClose
{
    margin-top: 20px;
    width: 80px;
    height: 50px;
}

@media (max-width: 480px)
{
    #navList
    {
        display: flex;
        flex-direction: column;
    }

    .container
    {
        width: 100%;
        border-radius: unset;
        -webkit-border-radius: unset;
        -moz-border-radius: unset;
        -ms-border-radius: unset;
        -o-border-radius: unset;
    }

    .main-nav
    {
        border-radius: unset;
        -webkit-border-radius: unset;
        -moz-border-radius: unset;
        -ms-border-radius: unset;
        -o-border-radius: unset;
    }

    #formTitle
    {
        font-size: 24px;
    }

    #formComment
    {
        font-size: 20px;
    }

    #message
    {
        width: 80%;
    }

    #formSection
    {
        overflow-x: hidden;
        align-items: unset;
        margin-top: unset;
        margin-bottom: unset;
        padding-left: 20px;        
        width: 100%;
        border-radius: unset;
        -webkit-border-radius: unset;
        -moz-border-radius: unset;
        -ms-border-radius: unset;
        -o-border-radius: unset;
    }

    #errorMessage
    {
        visibility: hidden;
        background-color: rgb(226, 78, 78);
        width: 95%;
        font-size: 14px;        
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}