#frame
{
    display: flex;
    justify-content: center;
}

#gamesContainer
{
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.gameWrapper
{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
    border: solid;
    border-width: 1px;
    margin-left: 5px;
    margin-bottom: 5px;
    min-width: 220px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.itemImg
{
    width: 100px;
}

.itemPrice
{
    font-size: 20px;
    color: gray;
}

.titleContent
{
    font-weight: bold;
    transition: 250ms;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
}

.titleContent:hover
{
    color: green
}