#frame
{
    display: flex;
    justify-content: center;
}

#gamesContainer
{
    width: 80%;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}