#consolas
{
    display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
}
#juegos1 {
    align-items:flex-start;
    display: flex;
    width: 90%;
    overflow:hidden;    
    
  }
  #juegos1 img {
    width: 15%;
    height:max-content;
    flex-grow: 1;
    object-fit:cover;
    opacity: 0.8;
    transition: 0.5s ease;
    transform-origin: center;
    transform: translateX(-5px);
  }
  #juegos1 img:hover {
    cursor: crosshair;
  
    width: 30%;
    opacity: 1;
    filter: contrast(120%);
  }

#consolas span
{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;        
    text-align: center;
    flex-basis: 100%;
    border-style: solid;
    border-width: 1px;
    transition: 400ms;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -ms-transition: 400ms;
    -o-transition: 400ms;
   
}

#consolas span:hover
{    
    color: beige;
    height: 80px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    transition: 1s;
    
}

#consola1-span:hover
{
    
    background-image: url('../images/ps-icon.jpg');
}
#consola2-span:hover{
    background-image: url('../images/xbox-icon.jpg');

}
#consola3-span:hover{
    background-image: url('../images/ns-icon.jpg');
}
#games
{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.game-article
{
    text-align: center;
    background-color: rgb(13, 124, 91);
    margin: 20px;
    width: 100px;
    height: 70px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 250ms;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
}

.game-article:hover
{
    background-color: rgb(68, 175, 143);
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    width: 150px;
    height: 120px;
}