#consolas
{
    display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
}

#consolas span
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    flex-basis: 100%;
    border-style: solid;
    border-width: 1px;
    transition: 400ms;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -ms-transition: 400ms;
    -o-transition: 400ms;
}

#consolas span:hover
{
    color: beige;
    height: 80px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

#consola1-span:hover
{
    background-image: url('../images/ps-icon.jpg');
}